*{
   margin: 0;
   box-sizing: border-box;
}


body {
    font-family: sans-serif;
    padding: 90px 20px 0;
}

/* MENU */

.header{
    background-color: black;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
width: 90px;
height: 90px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.navLink{
    text-decoration: none;
    color: white;
    
}

.navMenu{
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.navMenuItem{
    font-size: 15px;
    margin: 0 15px;
    line-height: 90px;
    text-transform: uppercase;
    width:max-content;
}

.navMenuLink{
    padding: 8px 12px;
    border-radius: 3px;

}

.navMenuLink:hover {
    background-color: #808080;
    transition: 0.5s;
}
